In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("/content/jokes-data.csv")

In [3]:
data

               id  user_id  joke_id  Rating
0       31030_110    31030      110   2.750
1       16144_109    16144      109   5.094
2         23098_6    23098        6  -6.438
3        14273_86    14273       86   4.406
4       18419_134    18419      134   9.375
...           ...      ...      ...     ...
454809    29491_6    29491        6  -5.750
454810   33519_83    33519       83   0.531
454811   11238_56    11238       56   4.188
454812   40411_89    40411       89  -1.469
454813   14149_32    14149       32   4.000

[454814 rows x 4 columns]

In [4]:
data.shape

(454814, 4)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454814 entries, 0 to 454813
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       454814 non-null  object
 1   user_id  454814 non-null  int64
 2   joke_id  454814 non-null  int64
 3   Rating   454814 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 13.9+ MB

In [6]:
data["user_id"].nunique()

40684

In [7]:
data["joke_id"].nunique()

139

In [8]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: surprise in /usr/local/lib/python3.10/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.10/dist-packages (from surprise) (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.10.1)

In [9]:
## collaborative filtering

In [10]:
## we need id,user_id	,joke_id,	Rating

In [11]:
data = data.drop("id", axis=1)

In [12]:
data = data.rename(columns={"Rating": "rating"})

In [13]:
data

        user_id  joke_id  rating
0         31030      110   2.750
1         16144      109   5.094
2         23098        6  -6.438
3         14273       86   4.406
4         18419      134   9.375
...         ...      ...     ...
454809    29491        6  -5.750
454810    33519       83   0.531
454811    11238       56   4.188
454812    40411       89  -1.469
454813    14149       32   4.000

[454814 rows x 3 columns]

In [14]:
from surprise import  Reader, Dataset, KNNBasic, SVD

In [15]:
## defining reader object

In [16]:
reader = Reader()

In [17]:
#### create a the dataset to be used for building the filter

In [18]:
dt = Dataset.load_from_df(data,reader)

In [19]:
dt

In [20]:
algo = SVD()

In [21]:
from surprise.model_selection import cross_validate

In [22]:
cross_validate(algo, dt, measures = ["RMSE"], cv = 5, verbose = True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.7110  4.7062  4.7029  4.7221  4.6928  4.7070  0.0096
Fit time          12.47   8.58    8.79    8.81    8.81    9.49    1.49
Test time         2.41    1.39    1.39    1.01    1.00    1.44    0.52

{'test_rmse': array([4.71096019, 4.70615541, 4.7028701 , 4.72206839, 4.69283226]),
 'fit_time': (12.470706701278687,
  8.578946352005005,
  8.79294753074646,
  8.810167074203491,
  8.810513734817505),
 'test_time': (2.413224697113037,
  1.3887836933135986,
  1.3920307159423828,
  1.009406566619873,
  0.9981789588928223)}